{% extends "base.html" %} {% block header %}
<script src="/static/js/sales.js"></script>
<script src="/static/js/d3.v3.js"></script>
<style>
    .chart div {
        font: 10px sans-serif;
        background-color: steelblue;
        text-align: right;
        padding: 3px;
        margin: 1px;
        color: white;
    }
</style>
{% endblock %} {% block main %}

<div class="container">
    <div class="chart">
    </div>
    <div class="row">
        <p> </p>
    </div>
    <!--<div class="row">
        <div class="col-md-12" id="shows">
            {{res}}
        </div>
    </div>-->
</div>
{% endblock %}